.booking
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-grow: 1
  flex-direction: column
  margin-right: 55px
  /* Типографика */
  /* Оформление */
  /* Анимации */
  form
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    flex-direction: column
    /* Типографика */
    /* Оформление */
    /* Анимации */
  &__subnumber
    margin-left: 30px
    color: $dull-orange
