.placement
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-direction: column
  /* Типографика */
  /* Оформление */
  /* Анимации */
  &__ul
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    /* Типографика */
    /* Оформление */
    /* Анимации */
  &__item
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    flex-basis: 15%
    /* Типографика */
    /* Оформление */
    /* Анимации */
  &__item:not(:nth-child(n+7))
    /* Позиционирование */
    /* Блочная модель */
    margin-bottom: 25px
    /* Типографика */
    /* Оформление */
    /* Анимации */
