.specials
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-grow: 2
  flex-direction: column
  /* Типографика */
  /* Оформление */
  /* Анимации */
  &__container
    display: flex
    flex-direction: column
    width: 573px
  &__box
    display: flex
    flex-direction: column
    height: 258px
    padding: 40px
    border-radius: 15px
  &__box-top
    background-image: url(../images/specials/specials_box_top.png)
  &__box-bottom
    background-image: url(../images/specials/specials_box_bottom.png)
  &__box:not(:last-child)
    margin-bottom: 23px
  &__image
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: flex-end
    max-width: 573px
    height: 540px
    padding: 35px 40px
    border-radius: 12px
    background-image: url(../images/specials/specials_box_room.png)
    background-position: 0 0
    background-size: cover
    background-repeat: no-repeat
  &__text
    padding: 0
    //margin-bottom: 43px
    width: 330px
    color: $white-color
    font-size: 3.75rem
    font-weight: bold
    line-height: .88
  &__text-left
    width: 299px
    font-size: 2.5rem
    line-height: 100%
  &__price-link
    margin: 0 0 47px 0
    font-size: 1.875rem
    line-height: .91
    color: rgba(255, 255, 255, .8)
  &__price-left
    font-size: 1.25rem
  &__link
    display: inline-block
    font-size: 1rem
    background-image: url(../images/specials/arrow_link.svg)
    background-position: 20%
    background-repeat: no-repeat
