.header
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-direction: column
  margin-bottom: 70px
  /* Типографика */
  /* Оформление */
  /* Анимации */
  &__info
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    height: 114px
    align-items: center
    /* Типографика */
    /* Оформление */
    /* Анимации */
  &__tel
    /* Позиционирование */
    /* Блочная модель */
    margin-right: auto
    margin-left: 25px
    /* Типографика */
    /* Оформление */
    /* Анимации */
    text-decoration: none
  &__account
    padding-left: 30px
    padding-right: 10px
    text-align: right
    background-image: url(../images/account_arrow.svg)
    background-position: 0 0
    background-repeat: no-repeat
    color: $dull-orange
    text-decoration: none
    color: $dull-orange
    &:hover
      color: $dull-orange

.header-link
  font-size: 1.375rem
  font-weight: 500
  color: $brownish-grey
  &:hover
    color: $brownish-grey
