.btn
  /* Позиционирование */
  /* Блочная модель */
  width: 160px
  height: 70px
  border: none
  border-radius: 12px
  /* Типографика */
  font-weight: bold
  /* Оформление */
  /* Анимации */

.btn--orange
  border: none
  background-color: $dull-orange
  color: $white-color

.btn--opacity
  background-color: $dull-orange
  color: $white-color

.btn--tran
  width: 100px
  height: 41px
  background-color: transparent
  border: 1px solid $dull-orange
  color: $dull-orange

.btn--tur
  width: 107px
  height: 42px
  margin-right: 40px

.btn--call
  width: 177px
  height: 42px
  margin-right: 45px

.btn--contacts
  position: absolute
  bottom: 0
  width: 213px
  height: 70px
  border-radius: 10px
