.tour-form
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  padding: 28px
  background-color: $white-color
  border-radius: 15px
  &__header
    font-size: .75rem
  div:not(:first-child)
    height: 50px
    border-left: 1px solid $tour-border
  div
    select
      width: 169px
      height: 25px
      border: none
      appearance: none
      background-image: url('../images/tour/arrow_bottom.svg')
      background-position: calc(100% - 0.313rem) 0.625rem
      background-size: 0.85em auto
      background-repeat: no-repeat
      z-index: 10
    [type="number"]
      border: none
      border-bottom: 1px solid $line-color
  &__departure
    width: 169px
  &__arrival
    width: 190px
    padding: 0 20px
  &__date
    width: 150px
    padding: 0 20px
    [type="date"]
      width: 135px
      height: 25px
      border: none
  &__people, &__night
    width: 145px
    padding-left: 20px
    padding-right: 30px
    input
      width: 121px
      height: 25px
      border: none
  &__btn
    width: 129px
    display: flex
    align-items: center
    justify-content: flex-end
