.services
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-direction: column
  /* Типографика */
  /* Оформление */
  /* Анимации */
  &__wrapper
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    flex-wrap: wrap
    /* Типографика */
    /* Оформление */
    /* Анимации */
