.contacts
  /* Позиционирование */
  /* Блочная модель */
  /* Типографика */
  /* Оформление */
  /* Анимации */
  &__double
    height: 618px
    display: flex
    justify-content: space-between
    padding: 44px
    border-radius: 15px
    background-color: $white-color
  &__image
    width: 653px
    background-image: url(../images/contact/picture.png)
    background-position: 0 0
    background-repeat: no-repeat
    background-size: cover
  &__card
    position: relative
    width: 380px
    display: flex
    flex-direction: column
  &__row:not(:first-child)
    padding-top: 26px
  &__row
    display: flex
    border-bottom: 1px solid $line-color
    //padding-bottom: 26px
  &__name-block
    width: 145px
    font-family: $muller
    font-size: 1.375rem
    font-weight: bold
    color: $brownish-grey
  &__subtext-block
    width: 235px
    display: flex
    flex-direction: column
    margin-bottom: 1rem
    font-family: $muller
    font-size: 1rem
    line-height: 1.5
