.point
  /* Позиционирование */
  /* Блочная модель */
  width: 373px
  height: 441px
  /* Типографика */
  /* Оформление */
  background-color: $white-color
  border-radius: 12px
  /* Анимации */
  &__wrapper
    display: flex
    justify-content: space-between
    margin: 0
    padding: 0
  &__image img
    border-radius: 12px 12px 0 0
  &__text
    padding: 36px 44px 44px 44px
  &__price
    color: $warm-grey
  &__number
    font-size: 1.375rem
    font-weight: bold
    color: $black
  &__stars
    display: flex
    flex-direction: row
    svg
      width: 15px
      fill: $warm-grey
    svg:not(:last-child)
      margin-right: 7px
      fill: $dull-orange
  &__hotel-name, &__location
    margin: 0
    line-height: 1.5
  &__hotel-name
    font-weight: 700
  &__location
    margin-bottom: 20px
    color: $warm-grey
  &__bg-image
    /* Позиционирование */
    position: relative
    /* Блочная модель */
    width: 373px
    height: 441px
    padding: 0 39px 52px 39px
    /* Типографика */
    /* Оформление */
    background-image: url("../images/location_full.jpg")
    border-radius: 12px
    /* Анимации */
  &__all-room
    position: absolute
    left: 40px
    bottom: 50px
    text-decoration: none
    font-family: $muller
    font-size: 1.375rem
    color: $white-color
    &:hover
      text-decoration: none
      color: $white-color
    &::after
      content: "\e900"
      margin-left: 10px
      font-family: "icomoon_arrow"
      font-size: 18px
