.btn-search
  position: absolute
  top: 22px
  right: 35px
  width: 25px
  height: 25px
  background: url(../images/search.svg) center no-repeat
  font-family: "icomoon"
  border: none
  font-size: 22px
  cursor: pointer
