.footer
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  justify-content: space-between
  margin: 20px 0
  height: 341px
  padding: 44px 51px 55px 52px
  /* Типографика */
  /* Оформление */
  background-color: $black
  background-image: url(../images/footer_sun.png)
  background-position: 80% 100%
  background-repeat: no-repeat
  border-radius: 15px
  color: $white-color
  /* Анимации */
  &__info-hotel
    width: 320px
  &__info-par
    margin: 50px 0
  &__contacts
    width: 358px
  &__telefon, &__email
    margin-top: 30px
  &__telefon
    display: flex
    flex-direction: column
  &__email
    display: flex
    flex-direction: column
  &__social
    display: flex
    flex-direction: column
  &__svg:not(:first-child)
    margin-top: 20px
  &__svg
    width: 26px
    height: 26px
    a
      display: inline-block
      width: 26px
      height: 26px

.svg-1
  background-image: url(../images/tripadvisor.svg)
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

.svg-2
  background-image: url(../images/twitter.svg)
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

.svg-3
  background-image: url(../images/facebook.svg)
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

.svg-4
  background-image: url(../images/vk_2.svg)
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover

.svg-5
  background-image: url(../images/google-plus.svg)
  background-position: 0 0
  background-repeat: no-repeat
  background-size: cover
