.input
  /* Позиционирование */
  /* Блочная модель */
  height: 70px
  margin-bottom: 24px
  border: none
  border-radius: 12px
  padding-left: 21px
  padding-right: 21px
  /* Типографика */
  /* Оформление */
  background: $white-color
  color: $warm-grey
  /* Анимации */

.input-search
  margin-right: 21px
  width: 355px
  height: 48px
  border-radius: 15px
  border: none
  padding:
    left: 21px
    right: 30px
  background-color: $backgound
