.services-article
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-direction: column
  flex-basis: 40%
  /* Типографика */
  /* Оформление */
  border-radius: 12px
  background-color: $white-color
  /* Анимации */
  &__description
    padding: 35px 140px 29px 45px
  &__link
    display: block
    margin-bottom: 7px
    max-height: 3.6em
    line-height: 1.8em
    word-wrap: break-word
    overflow: hidden
    text-overflow: ellipsis
  &__h3
    position: relative
    font-size: 1.375rem
    &::after
      position: absolute
      content: "\e900"
      margin-left: 10px
      font-family: "icomoon_arrow"
      font-size: 1.1875rem
  &__text
    display: block
    max-height: 10em
    line-height: 2em
    word-wrap: break-word
    color: $black
    overflow: hidden
    text-overflow: ellipsis
  &__image
    /* Позиционирование */
    /* Блочная модель */
    width: 572px
    height: 165px
    /* Типографика */
    /* Оформление */
    border-radius: 12px 12px 0 0
    /* Анимации */
  &_image-1
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-image: url("../images/services_1.jpg")
    /* Анимации */
  &_image-2
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-image: url("../images/services_2.jpg")
    /* Анимации */
  &_image-3
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-image: url("../images/services_3.jpg")
    /* Анимации */
  &_image-4
    /* Позиционирование */
    /* Блочная модель */
    /* Типографика */
    /* Оформление */
    background-image: url("../images/services_4.jpg")
  /* Анимации */

.services-article:not(:nth-child(2n))
  /* Позиционирование */
  /* Блочная модель */
  margin-right: 24px
  /* Типографика */
  /* Оформление */
  /* Анимации */

.services-article:not(:nth-last-child(-n+2))
  margin-bottom: 24px
