.header-nav
  /* Позиционирование */
  position: relative
  /* Блочная модель */
  display: flex
  height: 70px
  border-radius: 12px
  align-items: center
  /* Типографика */
  /* Оформление */
  background-color: $white-color
  /* Анимации */
  &__list
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    height: 100%
    margin-right: auto
    /* Типографика */
    /* Оформление */
    /* Анимации */
  &__list ul
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    height: 100%
    align-items: center
    /* Типографика */
    list-style: none
    /* Оформление */
    /* Анимации */
  &__item-li:not(:first-child):not(:last-child)
    margin-left: 22px
    margin-right: 23px
    a
      color: $black
      text-decoration: none
  &__item-li:first-child
    margin-left: 45px
    margin-right: 23px
    a
      color: $black
      text-decoration: none
  &__item-li:last-child
    margin-left: 22px
    a
      color: $black
      text-decoration: none
