.privilege-cards
  &__ul
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0
    /* Типографика */
    /* Оформление */
    /* Анимации */
    li
      /* Позиционирование */
      /* Блочная модель */
      flex-basis: 23%
      /* Типографика */
      /* Оформление */
      /* Анимации */
  &__item
    padding: 119px 44px 28px
    border-radius: 12px
    background-color: $white-color
  &__item:not(:nth-child(n+5))
    /* Позиционирование */
    /* Блочная модель */
    margin-bottom: 20px
    /* Типографика */
    /* Оформление */
    /* Анимации */
  &__text
    display: block
    margin: 0
    padding: 0
    max-height: 8em
    line-height: 2rem
    font-family: "Muller"
    font-weight: normal
    font-size: 1rem
    color: $black
    overflow: hidden
    text-overflow: ellipsis
  &_icon-1
    background-image: url(../images/privilege/bathtub.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-2
    background-image: url(../images/privilege/hanger.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-3
    background-image: url(../images/privilege/heating.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-4
    background-image: url(../images/privilege/hotel-key.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-5
    background-image: url(../images/privilege/parking.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-6
    background-image: url(../images/privilege/reception.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-7
    background-image: url(../images/privilege/security-box.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
  &_icon-8
    background-image: url(../images/privilege/swimming-pool.svg)
    background-position: 44px 44px
    background-repeat: no-repeat
