.write-us
  /* Позиционирование */
  /* Блочная модель */
  display: flex
  flex-direction: column
  width: 60%
  justify-content: center
  align-items: center
  /* Типографика */
  /* Оформление */
  /* Анимации */
  form
    /* Позиционирование */
    /* Блочная модель */
    display: flex
    flex-direction: column
    width: 340px
    /* Типографика */
    /* Оформление */
    /* Анимации */
